  <div align="center" style="padding-top: 10px; background-color: #0F5A9B; width: 100%; bottom: 0px; color: white; height: 100px; overflow: visible">
        <div style=""> Copyright &#169; Tezza Business Solutons  </div>
    </div>
  </body>
</html>

