    {{> mailHeader }}
      <div class="email-body">
        <p >Hi {{user}},</p>
        <p>
        Great news! Today, {{surveyCount}} people completed your survey, {{surveyTitle}}.

        Head to your dashboard to see the insights and results as they come in!
        </p>

        <p>Happy analyzing,<br />The {{appName}} Team</p>
      </div>
{{> mailFooter }}
