    {{> mailHeader }}
      <div class="email-body">
        <p>Hi {{user}},</p>
        <p>
          Your payment for the {{subscriptionPlan}} subscription has been successfully processed. Thank you for continuing to use {{appName}}!
        </p>
        <p>
          You can view your payment details and download an invoice from your account dashboard.
        </p>

        <p>Best regards,<br />The {{appName}} Team</p>
      </div>
{{> mailFooter }}
