    {{> mailHeader }}
      <div class="email-body">
        <p>Hi {{user}},</p>
        <p>
          Just a heads-up—your free trial of {{appName}} will end in [X] days. But don’t worry, you can keep enjoying all the benefits by subscribing to one of our plans.
        </p>
        <p>
          Click here to upgrade: <a href="{{subscriptionUrl}}">Upgrade Now</a>
        </p>

        <p>Let’s keep the surveys rolling!,<br />The {{appName}} Team</p>
      </div>
{{> mailFooter }}
